<a href="https://colab.research.google.com/github/saumyamishra1211/saumyamishra1211/blob/main/Naive_Bayes_on_SMS_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data Handeling and Manipulation
import pandas as pd
import numpy as np

#Data Preprocessing Libraries
from sklearn.preprocessing import LabelEncoder #ordinal encoding, #one hot encoding

#count vectorizer in excel to understand how it works in the backend.
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split, #70%data in training, #30%test #80-20, 90-10
from sklearn.naive_bayes import MultinomialNB #Multinomial Naive bayes algorithm.


#evaluation metrics #r2, Rmse(evaluation metrics)
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_table('SMSSpamCollection', names = ['label' , 'message'])

In [ ]:
#Problem statement- is based on the message, you have to categorize the data into spam or ham.

### Gmail, spam, junk,
- NLP(word2vec)
- Google excellent, smart(e.g Delhi, world, )
- Performance very impressive.

In [ ]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [ ]:
le = LabelEncoder()
df['label'] = le.fit_transform(df['label'])

In [ ]:
df.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [ ]:
msg = ['Hi I have reached home', 'You have won a lottery of 1 Lakh rupees' , 'How are you' , 'Good morning',
      'Hi this is Shivam from ML batch', 'Congratulations you have won a lottery',
       'Good morning morning']

In [ ]:
# do this on excel on show them.

In [ ]:
# Now come here and explain

In [ ]:
msg

['Hi I have reached home',
 'You have won a lottery of 1 Lakh rupees',
 'How are you',
 'Good morning',
 'Hi this is Shivam from ML batch',
 'Congratulations you have won a lottery',
 'Good morning morning']

In [ ]:
cv = CountVectorizer() #IMPORTANT
cv.fit(msg)

CountVectorizer()

In [ ]:
cv.get_feature_names()

['are',
 'batch',
 'congratulations',
 'from',
 'good',
 'have',
 'hi',
 'home',
 'how',
 'is',
 'lakh',
 'lottery',
 'ml',
 'morning',
 'of',
 'reached',
 'rupees',
 'shivam',
 'this',
 'won',
 'you']

In [ ]:
words = cv.get_feature_names()

In [ ]:
matrix = cv.transform(msg).toarray()

In [ ]:
# Aise ML me nahi kar sakte, ek jagah pe feature alag hai ek jagah pe matrix alag hai.

In [ ]:
df_eg = pd.DataFrame(data = matrix , columns = words)

In [ ]:
df_eg.head()

,are,batch,congratulations,from,good,have,hi,home,how,is,...,lottery,ml,morning,of,reached,rupees,shivam,this,won,you
0,0,0,0,0,0,1,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,1,0,0,1,1
2,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,1,0,1,0,0,1,0,0,1,...,0,1,0,0,0,0,1,1,0,0

In [ ]:
# This looks similar to what we have created in excel right?

## Count Vector Implementation on SMS data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   int32
 1   message  5572 non-null   object
dtypes: int32(1), object(1)
memory usage: 65.4+ KB

In [ ]:
cv = CountVectorizer()

In [ ]:
x = df['message']
y = df['label']

In [ ]:
cv.fit(x)

CountVectorizer()

In [ ]:
unique_words = cv.get_feature_names() #unique words - unique words in the data

In [ ]:
count = cv.transform(x).toarray() #array means 1 and 0

In [ ]:
len(unique_words)

8713

In [ ]:
df_message = pd.DataFrame(data = count , columns = unique_words)

In [ ]:
df_message

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x_train , x_test, y_train, y_test = train_test_split(df_message , y, test_size=0.3, random_state = 3)

In [ ]:
nb = MultinomialNB()

In [ ]:
nb.fit(x_train, y_train) #we fit our model on x_train and y_train

MultinomialNB()

In [ ]:
y_pred = nb.predict(x_test) #we use x test to predict the y

In [ ]:
accuracy_score(y_test, y_pred) #97%

0.979066985645933